.circle {
    width: 450px;
    height: 450px;

    position: absolute;
    right: 7rem;
    bottom: 8rem;
    z-index: 1;

    background: linear-gradient(to bottom, #f5576c, #f093fb);
    box-shadow: 0 5px 25px rgba(0,0,0, .15);
    border-radius: 23% 77% 78% 22% / 62% 36% 64% 38%;
    
    animation: circleRadius 5s alternate infinite;

    @media (max-width: 1330px) {
        right: 1.5rem;
    }

    @media (max-width: 575px) {
        display: none;
    }
}

@keyframes circleRadius {
    0% {
        border-radius: 23% 77% 78% 22% / 62% 36% 64% 38%;
    }

    100% {
        border-radius: 10% 90% 9% 91% / 86% 60% 40% 14%;
    }
}